In [2]:
import numpy as np
import pandas as pd

population_dict = {
    'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135
}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [3]:
population['California':'Illinois']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64